<!-- 
  Este código  muestra una tabla de educación con opciones para agregar, editar y eliminar elementos. 
  El botón "Agregar Educación" solo aparece si el usuario está conectado. La tabla se genera mediante 
  un bucle ngFor que muestra los elementos de la matriz educacion. Si el usuario está conectado, se 
  muestran los botones "Editar" y "Eliminar" en cada fila de la tabla. Cuando se hace clic en el botón 
  "Editar", se dirige al usuario a una página para editar el elemento seleccionado. Cuando se hace 
  clic en el botón "Eliminar", se elimina el elemento seleccionado.
  Autor: Dino Ferré 
-->

<div class="row" id="educacion">
    <h1>Educación</h1>
    <div class="col-lg-2">
        <button type="button" class="btn btn-dark" routerLink="/nuevaedu" *ngIf="isLogged">
            Agregar Educacion
        </button>
    </div>

    <div class="col lg 1"></div>
    <div class="col-lg-11">
        <table class="table">
            <tbody>
                <tr *ngFor="let Educacion of educacion">
                    <td>
                        <h2>{{Educacion.nombreE}}</h2>
                    </td>
                    <td>{{Educacion.descripcionE}}</td>
                    <td *ngIf="isLogged">
                        <button class="btn btn-dark btn-sm" routerLink="/editedu/{{Educacion.id}}">
                            <i class="bi bi-pencil-square"></i> EDITAR</button>
                    </td>
                    <td *ngIf="isLogged">
                        <button class="btn btn-danger btn-sm" (click)="delete(Educacion.id)">
                            <i class="bi bi-trash-fill"></i> BORRAR</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>