<!-- 
  Este código muestra una lista de experiencias laborales. Incluye un botón para agregar una nueva 
  experiencia (solo visible si el usuario ha iniciado sesión), y botones para editar y borrar experiencias 
  existentes (también solo visibles si el usuario ha iniciado sesión). La información de la experiencia 
  se muestra en una tabla con dos columnas: "Nombre de la empresa" y "Descripción de la tarea".
  Autor: Dino Ferré 
-->

<div class="row" id="experiencia">
  <h1>Experiencia laboral</h1>
  <div class="col-lg-2">
    <button type="button" class="btn btn-dark" routerLink="/nuevaexp" *ngIf="isLogged">
      Nueva Experiencia
    </button>
  </div>

  <div class="col-lg-1"></div>
  <div class="col-lg-11">
    <table class="table">
      <tbody>
        <tr *ngFor="let Experiencia of expe">
          <td>
            <h4>{{Experiencia.nombreE}}</h4>
          </td>
          <td>{{Experiencia.descripcionE}}</td>
          <td *ngIf="isLogged">
            <button class="btn btn-dark btn-sm" routerLink="/editexp/{{Experiencia.id}}">
              <i class="bi bi-pencil-square"></i> EDITAR</button>
          </td>

          <td *ngIf="isLogged">
            <button class="btn btn-danger btn-sm" (click)="delete(Experiencia.id)">
              <i class="bi bi-trash-fill"></i> BORRAR</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="linea"></div>