<!--
  Este código corresponde a una sección de un sitio web que muestra algunas de las certificaciones.
  La sección incluye tres certificaciones, cada una con una imagen y un enlace para verificar la
  autenticidad de la certificación. Además, hay un botón "Ver más certificaciones" que lleva a los
  usuarios a la página de certificaciones en LinkedIn.
  Autor: Dino Ferré
-->

<section id="certificaciones" class="proyectos-recientes seccion-clara d-flex flex-column">
    <h2 class="seccion-titulo texto-negro" style="color: #0DCAF0;">Mis certificaciones recibidas</h2>
    <h3 class="seccion-descripcion">
        Estas son algunas de mis certificaciones recibidas...
    </h3>
    <div class="container text-center proyectos-contenedor">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4">
                <div class="proyecto">
                    <img src="../../../assets/certificacion1.jpg" alt="Certificacion 2" />
                    <div class="overlay">
                        <p>Arg. Programa</p>
                        <div class="iconos-contenedor">
                            <a href="https://seprogramar.inti.gob.ar/inti/certificates/verify/iH5aT_qqM9kD9kGW"
                                target="_blank" rel="noopener noreferrer">
                                <i class="fa-solid fa-link fa-beat-fade" style="color: #000000;"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-4">
              <div class="proyecto">
                  <img src="../../../assets/certificacion2.jpg" alt="Certificacion 1" />
                  <div class="overlay">
                      <p>Alura Latam</p>
                      <div class="iconos-contenedor">
                          <a href="https://app.aluracursos.com/program/certificate/e41f2042-c3c1-4433-93f6-126c845f13fb"
                              target="_blank" rel="noopener noreferrer">
                              <i class="fa-solid fa-link fa-beat-fade" style="color: #000000;"></i>
                          </a>
                      </div>
                  </div>
              </div>
          </div>

            <div class="col-12 col-md-6 col-lg-4">
                <div class="proyecto">
                    <img src="../../../assets/certificacion3.png" alt="Certificacion 3" />
                    <div class="overlay">
                        <p>Arg. Programa</p>
                        <div class="iconos-contenedor">
                            <a href="https://drive.google.com/file/d/1BzQo6yb8YnZYVbtx54uvH8fyFHQANS5x/view?usp=sharing"
                                target="_blank" rel="noopener noreferrer">
                                <i class="fa-solid fa-link fa-beat-fade" style="color: #000000;"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a href="https://www.linkedin.com/in/dinoferre/details/certifications/" target="_blank" rel="noopener noreferrer">
        <button type="button" class="btn btn-outline-info">Ver más certificaciones</button>
    </a>
</section>
<div class="linea"></div>
