/*
En este código defino estilos CSS para la sección "Sobre Mí" y el botón de descarga de CV 
que se encuentra dentro de la misma.
Autor: Dino Ferré
*/

.sobre-mi {
  height: 700px;
  padding: 20px;
}

.sobre-mi .contenedor {
  margin-top: 10px;
  max-width: 600px;
  text-align: center;
}

.btn {
  margin-top: 2em;
  border: 2px solid #0DCAF0;
}