<!-- 
  En este código defino una sección de la página que contiene información sobre mi trayectoria profesional 
  y ofrece la posibilidad de descargar mi CV en formato PDF.
  Autor: Dino Ferré 
-->

<section id="sobre-mi" class="sobre-mi seccion-oscura">
  <div class="contenedor">
    <h2 class="seccion-titulo">Sobre mí</h2>
    <p class="seccion-texto">
      Dentro de mi trayectoria profesional, incursioné diferentes rubros, tanto administrativos como de atención al
      cliente. Actualmente, me estoy formando en Programación orientada a full stack, a través de dos reconocidas
      plataformas: Argentina Programa / Oracle Next Education (Alura Latam).
      A lo largo de mi experiencia laboral, adquirí habilidades blandas, como el trabajo en equipo, resolución de
      conflictos, y la empatía.
      Me encuentro adquiriendo nuevas herramientas de forma constante y cuento con capacidad de transmitir mis
      conocimientos, ya que tengo paciencia y vocación de servicio.
      Busco oportunidades para continuar creciendo y aprendiendo en el área tecnológica, pudiendo implementar lo
      aprendido, junto a un equipo de trabajo para seguir desarrollando y ampliando mi carrera profesional</p>
    <a href="../../../assets/Dino_Ferre_CV.pdf" download>
      <button type="button" class="btn btn-outline-info">Descargar CV</button>
    </a>
  </div>
</section>