<!-- 
  La sección de banner utiliza una imagen de fondo y una imagen en el centro. También muestra el 
  nombre y apellido de la persona y su título profesional.
  La variable persona es definida en el archivo del componente BannerComponent y se utiliza para 
  mostrar la información en la plantilla HTML. La variable es inicializada con un objeto persona 
  vacío y se actualiza con los datos obtenidos del servicio PersonaService durante la fase ngOnInit.
  Autor: Dino Ferré 
-->

<section class="hero align-items-stretch"
  style="background-image: url('../../../assets/banner.png'); background-size: cover; background-position: center;">
  <div class="hero-principal d-flex flex-column justify-content-center align-items-center"
    style="max-width: 800px; margin: 0 auto;">
    <img class="hero-imagen-desarrollador rounded-circle" src="../../../assets/dino.png" alt="Foto de Dino Ferre"
      style="height: 200px;" />
    <h1>Hola, soy <strong id="nombre">{{persona.nombre}} {{persona.apellido}}</strong></h1>
    <h2>Full Stack Developer Jr.</h2>
  </div>
</section>