<section class="hero align-items-stretch" style="background-image: url('../../../assets/banner.png'); background-size: cover; background-position: center;">
  <div class="hero-principal d-flex flex-column justify-content-center align-items-center" style="max-width: 800px; margin: 0 auto;">
    <img class="hero-imagen-desarrollador rounded-circle" src="../../../assets/dino.png" alt="Foto de Dino Ferre" style="height: 200px;" />
    <h1>Hola, soy <strong id="nombre">{{persona.nombre}} {{persona.apellido}}</strong></h1>
    <h2>Full Stack Developer Jr.</h2>
  </div>
</section>

